<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        <%=title%>
    </title> -->
    <!-- <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head> -->
<!-- <body> -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>this is codieal</h1>
    <section id="feedpost">
        <h4>Post</h4>
        <form action="/posts/create" id="'new_post_form" method='POST'>
            <textarea name="content" cols="30" rows="3" placeholder="type here...."></textarea>
            <input type="submi" value="POST">

        </form>
        <div id="post-list-container">
            <ul>
                <%for (post of posts){%>
                    <li>
                        <%=post.content%>
                    </li>
                    
                    
                    
                <%}%>
            </ul>

        </div>
    </section>
<!-- </body>
</html> -->